# Lists, Tuples, Sets & Dictionaries - Synopsis

In this unit we will learn about three of the four collection data types in Python.

1. **Lists** are ordered sequences of elements, with that order being specified by the order that the elements are in when the list is created or as elements are added to the list.  

    1. Lists are created using the `[]` syntax.
    
    2. Lists can include mixed data types.
    
    4. List elements are accessed by index.
    
    3. Lists are **mutable**. You can add, remove, and replace values using functions such as `append()`, `extend()`, `insert()`, `pop()`, `remove()`, and `del`. 
    
2. **Tuples** are similar to lists except for the very important fact that they are **immutable**.

3. **Sets** are unordered collections of elements.

    1. Sets are created using the `{}` syntax.
    
    2. Sets can included mixed data types.
    
    3. Set elements are accessed by key (name).
    
    4. Elements in a set cannot be repeated.
    
    5. Sets are are **mutable**. You can add and remove values using functions such as `add()` and `discard()`.
    
4. **Dictionaries** are **mutable unordered** collections whose elements are accessed using **keys**.

    1. Dictionaries are created using the `{}` syntax.
    
    2. Dictionaries are composed of `key, value` pairs.

    3. Each `key, value` pair is called an *item*.
    
    4. `Items` can be added to a dictionary using the built-in method `update()`.
    
    5. `Items` can be changed using instanciation.
    
    6. `Items` can be removed usind the functions `del` and the method `pop()`.

# Collection Data Types

Python has four collection data types:

* Lists
* Tuples
* Sets
* Dictionaries

These data types allow for a greater number of operations because they can hold multiple elements.  In order to ease into deadling with collections, we will first recall some properties of another collection data type: strings.

## Lists

A list is an ordered sequence of elements, with that order being specified by the order that the elements are in when the list is created or as elements are added to the list. We create a list by using the `[]` syntax.

Let's go back to our obsession with pets, and imagine we own a pet store that carries a number of different species of pets.

In [1]:
credit_cards= ["blue","black","silver"]
print(type(credit_cards))
print(credit_cards)

<class 'list'>
['blue', 'black', 'silver']

Notice that the list printed the elements in the same order in which they were created. Unlike strings, **lists are mutable**. Thus, we can change them. 

If we want to add an element to the list, we `append()` the new element to the list.

In [2]:
print(len(credit_cards))

3

In [3]:
credit_cards.append("green")
print(credit_cards)
print(len(credit_cards))

['blue', 'black', 'silver', 'green']
4

If we want to add multiple additional values, we can either append them one by one, or we can `extend()` our list `pets` with the list of additional pets that our pet shop carries.

In [4]:
new_cards = ["metal","travel"]
print(len(credit_cards))
credit_cards.extend(new_cards)
print(credit_cards)
print(len(credit_cards))

4
['blue', 'black', 'silver', 'green', 'metal', 'travel']
6

We can also add two lists together.

In [5]:
print(len(credit_cards))
credit_cards = credit_cards + ["green", "pink"]
print(credit_cards)
print(len(credit_cards))

6
['blue', 'black', 'silver', 'green', 'metal', 'travel', 'green', 'pink']
8

And just like strings, we can use both of the additive math operators. I'll use a small number here so as not to flood the screen, but we can multiply the list too.

In [6]:
# Testing .count()
credit_cards.count("green")

2

As for strings, subtraction and division are not implemented for lists.  The reason is that it is not clear what subtracting two lists should produce.

.Insert: adds an element at a specified position

In [7]:
# credit_cards - ["pink"]
# you cannot subtract a list from a list

In [8]:
# .pop (will remove and return the removed value to you)
credit_cards.pop(-1)

'pink'

In [9]:
credit_cards

['blue', 'black', 'silver', 'green', 'metal', 'travel', 'green']

In [10]:
credit_cards.append("pink")

In [11]:
credit_cards.remove("pink")
# does not give you back the removed element

In [12]:
credit_cards

['blue', 'black', 'silver', 'green', 'metal', 'travel', 'green']

### Indexing and Slicing

Since a list comprises multiple elements, just as a string comprises multiple chracters, it is helpfuul to be able to access a single element by its index or to access a section of the list using slicing. To access an element by its index we use the syntax: `variable[index]`.

As for strings, you cannot attempt to access an index that has not been defined.  In order to avoid that kind of mistake it is useful to keep track of the number of elements in a list.  You can obtain this number using the built-in function `len()`:

In [13]:
credit_cards[3]
# ordered lists: you can retrieve element via index

'green'

In order to obtain a access a section of a list, we use the slicing syntax  `variable[start_index : stop_index : step]`

In [14]:
credit_cards[1:5]

['black', 'silver', 'green', 'metal']

In [15]:
credit_cards[:5]

['blue', 'black', 'silver', 'green', 'metal']

In [16]:
credit_cards[2:]

['silver', 'green', 'metal', 'travel', 'green']


Because lists are mutable, we can not only add and remove elements, we can also change the value of the elements.

In [17]:
credit_cards[1] = "gold"
credit_cards

['blue', 'gold', 'silver', 'green', 'metal', 'travel', 'green']

Sometimes, we know that a certain value is included in a list but do not know its index in the list. If we want to find out the index of a given value, we use the built-in function `index()`.

In [18]:
credit_cards.index("travel")

5

### Ordering lists

Lists have other built-in methods too besides the maintenance functions of adding and deleting elements. For example, you can reverse a list:

In [19]:
print('Initial list', credit_cards)
credit_cards.reverse()
print('Reversed list', credit_cards)

Initial list ['blue', 'gold', 'silver', 'green', 'metal', 'travel', 'green']
Reversed list ['green', 'travel', 'metal', 'green', 'silver', 'gold', 'blue']

The elements in a list can also be sorted.  If the elements are numbers that the standard ordering of numbers is used. If the elements are string, then alphanumeric ordering is used.

In [20]:
# Alpha sort (ascending order)
print('Initial list', credit_cards)
credit_cards.sort()
print('Sorted list', credit_cards)

Initial list ['green', 'travel', 'metal', 'green', 'silver', 'gold', 'blue']
Sorted list ['blue', 'gold', 'green', 'green', 'metal', 'silver', 'travel']

In [21]:
# Reverse alpha sort (descending order)
print('Initial list', credit_cards)
credit_cards.sort(reverse=True)
print('Sorted list', credit_cards)

Initial list ['blue', 'gold', 'green', 'green', 'metal', 'silver', 'travel']
Sorted list ['travel', 'silver', 'metal', 'green', 'green', 'gold', 'blue']

In [22]:
numlist = [88, 77, 12, 1001, 1, 0, 15]
print(numlist)
numlist.sort()
print(numlist)

[88, 77, 12, 1001, 1, 0, 15]
[0, 1, 12, 15, 77, 88, 1001]

In [23]:
numlist.sort(reverse=True)
print(numlist)

[1001, 88, 77, 15, 12, 1, 0]

In [24]:
# Mixed List cannot be sorted in Python

## Tuples

On the surface, tuples appear similar to `list`:

* Both Tuples and Lists contain a sequence of individual elements
* Both Tuples and Lists are stored in the order that they were added
* Both Tuples and Lists can store mixed data types
* We access individual elements with the syntax `variable[index]`

So what is the difference? 

The big difference is that tuples are an **immutable** data type (like strings). This means that none of the functions that are built-in to modify variables can be applied to tuples.

In order to indicate this **crucial** difference between lists and tuples, Python uses a different syntax to create a tuple.
The syntax for creating a `list` uses `[]`. The syntax to create a `tuple` uses `()`.

In [25]:
banks = ("UOB","DBS","OCBC")
print(type(banks))
print(banks)

<class 'tuple'>
('UOB', 'DBS', 'OCBC')

Notice that since it isn't necessarily clear what each of the individual elements stood for in the tuple, I added a comment listing the meaning of each field. As we discussed earlier, comments are signaled in Python by the symbol `#` Whatever you type in a line after the `#` will be ignored by the Python interpreter.

Because tuples are immutable element assignment does not work.

In [26]:
# banks[1] = "POSB"
# You CANNOT reassign a value in a Tuple, b/c Tuples are immutable.

In [27]:
# banks.pop(1)
# Tuples do NOT have a .pop method

and neither does element removal.  However, We can still perform the additive operators with tuples though

In [28]:
# You can create a NEW tuple by adding 2 existing tuples
new_banks = banks + ("Maybank", "CIMB")
print(type(new_banks))
print(new_banks)

<class 'tuple'>
('UOB', 'DBS', 'OCBC', 'Maybank', 'CIMB')

In [29]:
new_banks[2:]

('OCBC', 'Maybank', 'CIMB')

The reason is that when we add something to a tuple we are not changing the tuple, we are creating a new tuple. Notice that if we do not copy the new tuple into a new variable, then it is lost to us.

Another subtlety with tuples is that they require a non-obvious syntax when they have a single element.  Specifically, a tuple with a single element must be written as using the syntax `(value, )`. Without the comma, the Python interpreter would decide that we are using the `()` in the context of a mathematical operation.

### So wait, why are there both lists and tuples? 

I know, right now it's pretty hard to see why you would use one data type over the other. 

Remember that Python was developed with the ideal of being readable and understandable. That means that when you are writing code, you want to make choices that make it easy for others to understand what is going on. For example, if you have a some variable that contains values that are never going to change, then why would you use a mutable data type such as a list to store it?  

Think of the days of the week or the months of the year: Does it make more sense to define

`days_of_the_week = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")`

or 

`days_of_the_week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]`?

By using a tuple to store some data, you are signaling to a reader of your code, that the values you stored are not going to change during the execution of your code.

## Sets

A Python set is an unordered collection that prevents the repetition of values from occurring.  To create a `set` we use the syntax `{}`. 

Why do we need sets? Imagine, for example, that you want to store the names of your friends; you will want to use a list since you might have several friends named Mary.  However, if you are storing the city in which your friends live, you do not want the same city repeated several times. If you want to find out cities to visit where you have friends you only need the city name in there once.

Let us see this in play.  We want to keep track of what investments we have.

In [30]:
invs = {"etfs","crypto","fixed"}
print(type(invs))
print(invs)

<class 'set'>
{'crypto', 'fixed', 'etfs'}

In [31]:
# sets are UNORDERED, unlike lists and tuples
# invs[0]

The way to add an element to a set is using the function `add()`. However, if we try to add an element that already exists in the set, that element will just be ignored.

In [32]:
invs.add("equity")
print(invs)
invs.add("warrants")
print(invs)
# All elements in a set MUST be unique.
# Duplicates will be de-duplicated by Python
invs.add("fixed")
print(invs)

{'crypto', 'fixed', 'etfs', 'equity'}
{'fixed', 'crypto', 'equity', 'etfs', 'warrants'}
{'fixed', 'crypto', 'equity', 'etfs', 'warrants'}

Sets are also **mutable**, like a `list`. However, they don't use the same built-in functions. To add an item, you use the built-in function `add()`. T remove an element, you use the built-in function `discard()`.  Notice, however, that **sets cannot be added or multiplied**.

In [33]:
invs.discard("fixed")
print(invs)

{'crypto', 'equity', 'etfs', 'warrants'}

### Other set operations

Another class of operations that can be performed on sets are `intersection`, `union`, and `difference`. These operations are identical to their homonymous functions in the mathematics of sets.

In [34]:
print("The set invs: ", invs)
invs_b = {"crypto", "nfts", "equity", "CDO"}
print("The set invs_b: ", invs_b)

The set invs:  {'crypto', 'equity', 'etfs', 'warrants'}
The set invs_b:  {'CDO', 'nfts', 'crypto', 'equity'}

Common elements: "equity", "crypto"

Only in invs: "warrants", "etfs"

Only in invs_b: "nfts", "cdos"

In [35]:
invs.intersection(invs_b)

{'crypto', 'equity'}

In [36]:
# intersection is commutative
invs_b.intersection(invs)

{'crypto', 'equity'}

In [37]:
invs.union(invs_b)
# Unions will also ensure elements are de-duplicated

{'CDO', 'crypto', 'equity', 'etfs', 'nfts', 'warrants'}

In [38]:
invs_b.union(invs)

{'CDO', 'crypto', 'equity', 'etfs', 'nfts', 'warrants'}

In [39]:
invs.difference(invs_b)

{'etfs', 'warrants'}

Note that while `intersection` and `union` are symmetrical -- for example, `A.union(B) = B.union(A)` -- the same is not true for `difference`.

In [40]:
invs_b.difference(invs)
# .difference is NOT commutative.

{'CDO', 'nfts'}

In [41]:
invs_d = {"CDO"}
invs_d.issubset(invs_b)

True

In [42]:
invs_b.issuperset(invs_d)
# Subset is wholly contained within Superset

True

## Dictionaries - Synopsis

In this unit we will learn that:

1. **Dictionaries** are **mutable unordered** collections whose elements are accessed using **keys**.

    1. Dictionaries are created using the `{}` syntax.
    
    2. Dictionaries are composed of `key, value` pairs.

    3. Each `key, value` pair is called an *item*.
    
    4. `Items` can be added to a dictionary using the built-in method `update()`.
    
    5. `Items` can be changed using instanciation.
    
    6. `Items` can be removed usind the functions `del` and the method `pop()`.
    
2. Dictionaries allow nesting with all data types.

3. We can access all `items`, `keys`, and `values` in a dictionary.

## Dictionaries

A Python dictionary is an extraordinarily useful data type that expands on the possibilities offered by lists.  In a list one keeps track of the elements by an index that must be an integer.  **Dictionaries keep track of elements by `key`!**

Each element in a dictionary is an **item**, and every `item` has both a **key** and a **value**. You use the `key` to "look up" the `value`. This concept is just like if we wanted to look up the meaning of a word in a real dictionary. Also, just like in a real dictionary, it means that all of the `keys` **must** be unique. If we had a `key` multiple times, then we wouldn't know where to go look up its `value`. Remember `sets`?  **The `keys` in a dictionary form a set!**

The syntax to create a dictionary also uses the syntax`{}`. If we are initializing a dictionary, we enter `key-value` pairs separated by commas; for each `item`, the key is separated from the value by a colon.

`a_dict = {key : value, another_key : another_value}`

## What are dictionaries good for?

Great that you would ask! Recall the project involving all the student records?  Dictionaries are **the** data type to deal with records.  What are `Date of Birth` and `Age` if not keys? 

Let's retrieve our code so that we can start seeing how great dictionaries are.

Let's look into the properties of dictionaries.  Dictionaries are **mutable**. You can change the value of an element by re-assigning its value.

Dictionaries are **unordered**. If you print the same dictionary twice, the order in which `items` will be printed does not need to be the same. 

If we want to add a new `key-value` pair to the dictionary, we access a new `key` and assign it a value. If we want to add multiple `items` to a dictionary, we must use the built-in method `update()`.

In [43]:
data = {}

data["Favourite Bank"] = "UOB"
print(type(data))
print(data)
# key is on LEFT, data on the RIGHT

<class 'dict'>
{'Favourite Bank': 'UOB'}

In [44]:
data.update({'Favourite Credit Card': 'DBS Altitude', 
                  'Favourite Debit Card': 'DBS Fresh'})
print(data)

{'Favourite Bank': 'UOB', 'Favourite Credit Card': 'DBS Altitude', 'Favourite Debit Card': 'DBS Fresh'}

In [45]:
print(data.keys())   # It looks like as list of strings
print()
print(data.values()) # It looks like a list
print()
print(data.items())  # It looks like a list of tuples

dict_keys(['Favourite Bank', 'Favourite Credit Card', 'Favourite Debit Card'])

dict_values(['UOB', 'DBS Altitude', 'DBS Fresh'])

dict_items([('Favourite Bank', 'UOB'), ('Favourite Credit Card', 'DBS Altitude'), ('Favourite Debit Card', 'DBS Fresh')])

To remove a `key-value` pair from a `dict` variable, we can use `del` and provide the `key`. Guess what happens if you provide a `key` that does not exist? 

Alternatively, you can use the built-in method `pop()` and provide a `key`. This method deletes the `item` with `key` and returns the `value`.

In [46]:
del data["Favourite Debit Card"]
# will delete both the data and the corresponding key

In [47]:
data

{'Favourite Bank': 'UOB', 'Favourite Credit Card': 'DBS Altitude'}

In [48]:
data.pop("Favourite Credit Card")

'DBS Altitude'

# Changing types across sets, lists, and tuples

Since `sets`, `lists`, and `tuples` are all collections of elements, Python allows us to easily convert variables from one type to another as needed. You just need to cast the variable.

In [49]:
# Collection conversion functions names are easy to remember
# they are the names of the collections themselves.
# list()
# tuple()
# set()
# dict()

In [50]:
# Converting to List
invs_list = list(invs_b)
print(type(invs_list))
print(invs_list)

<class 'list'>
['CDO', 'nfts', 'crypto', 'equity']

In [51]:
# Gaining Order
invs_list[0]

'CDO'

In [52]:
# Losing constraint of uniqueness
invs_list.append('CDO')
invs_list

['CDO', 'nfts', 'crypto', 'equity', 'CDO']

In [53]:
# Converting to Tuple
invs_tuple = tuple(invs_list)
print(type(invs_tuple))
print(invs_tuple)

<class 'tuple'>
('CDO', 'nfts', 'crypto', 'equity', 'CDO')

In [54]:
# No change in ordering
invs_tuple[1:4]

('nfts', 'crypto', 'equity')

In [55]:
# Lose mutability --> cannot reassign or pop
# invs_tuple.pop()

In [56]:
# Converting back to Set
invs_reset = set(invs_tuple)
print(type(invs_reset))
print(invs_reset)

<class 'set'>
{'CDO', 'nfts', 'crypto', 'equity'}

In [57]:
# Lose ordering in Sets
# invs_reset[0]
print(invs_tuple)
print(invs_reset)
# Sets are automatically de-duplicated

('CDO', 'nfts', 'crypto', 'equity', 'CDO')
{'CDO', 'nfts', 'crypto', 'equity'}

# Exercises - Manager of a Pet Store!

Assume that you are the manager of a pet store and in order to be profitable you want to manage the store and the pets in the store efficiently! 

Hence, I'm going to need you to manage the inventory of pets that we have at the store.

In [58]:
pet_store = ['beagle', 'parrot', 'iguana', 'gerbil', 'chameleon', 'fish']

**Question 1: We've sold out of `chameleon` and `iguana`, you need to remove them from the inventory. <br>Use either `remove()` or `del` to do so.**

In [59]:
# Remove elements from list
pet_store.remove("chameleon")
pet_store.remove("iguana")
print(pet_store)

['beagle', 'parrot', 'gerbil', 'fish']

In [ ]:
# Del method
del pet_store[2]
pet_store

**Question 2: We just got in a `terrier`, `chameleon`, `bulldog`, and another `terrier`. <br> Please add all of those animals to the `pet_store`.**

In [60]:
# Extend list
new_pets = ["terrier","chameleon","bulldog","terrier"]
pet_store.extend(new_pets)
print(pet_store)

['beagle', 'parrot', 'gerbil', 'fish', 'terrier', 'chameleon', 'bulldog', 'terrier']

In [ ]:
# Alternative: Modify existing list
pet_store = pet_store + new_pets
pet_store

**Question 3: Could you print from `beagle` to `fish` but display it in alphabetical order?**

In [61]:
# Alpha sort (ascending order)
pet_store.sort()
print(pet_store)

['beagle', 'bulldog', 'chameleon', 'fish', 'gerbil', 'parrot', 'terrier', 'terrier']

In [62]:
pet_store[:4]

['beagle', 'bulldog', 'chameleon', 'fish']

**Now, how many `unique` animal types do we currently have in the store?**

In [75]:
len(set(pet_store))
# this does not permanently change the data type. 

type(pet_store)

list

In [ ]:
# To permanently change data type, you need to REASSIGN!
pet_store = set(pet_store)

**How many `terrier` dogs do we have in the store? (Hint: the `list` data type has a built-in function called `count()`)**

In [64]:
# Count a specified element
pet_store.count("terrier")

2

**As an owner, I actually have a very bad obsessive-compulsive disorder. Could you please reverse-alphabetically sort the pet types at the store?**

In [65]:
# Reverse alpha sort
pet_store.sort(reverse=True)
print(pet_store)

['terrier', 'terrier', 'parrot', 'gerbil', 'fish', 'chameleon', 'bulldog', 'beagle']

`End of the exercise`

# IMPORTANT: LIST COMPREHENSIONS

Python borrowed a very important feature from Lisp, List Comprehensions, which allows Python to perform very powerful operations on lists with minimal code.

In [66]:
complist = ['red','orange','yellow','green','blue','indigo','violet']

Say I wanted to go through the elements of this list and extract only those colour names which did not contain the letter 'o'. I could build something like this to do it manually:

In [67]:
unround = []
for i in complist:
    if "o" not in i:
        unround.append(i)
print(unround)

['red', 'green', 'blue']

However, writing three lines of code gives 3 surface vectors to create bugs in and increases the burdens of readability and maintainability.

With list comprehensions, we can do things much faster, and more cleanly.

In [ ]:
listcomp_unround = [i for i in complist if "o" not in i]
print(listcomp_unround)

GENERAL SYNTAX  

var for var in list/range if some_condition

## Exercises:

In [2]:
# Create a list of the numbers from 420-720
bignum = [i for i in range(420,721)]
print(bignum)

[420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720]

In [6]:
# Find every number from 1-1000 which is evenly divisible by 7 
thou = [i for i in range(1,1001) if i % 7 == 0]
print(thou)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [7]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7, -7, 18.9, 400.20, -700]
# Make a list of those numbers in the list 'numbers' larger than -30
notsoneg = [i for i in numbers if i > -30]
print(notsoneg)

[34.6, 44.9, 68.3, -12.2, 44.6, 12.7, -7, 18.9, 400.2]

In [12]:
sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
print("The list words: ", words)
# Make a list of the lengths of all words in the list 'words', 
# except for the word 'the'
nothe = [i for i in words if i != "the"]
print("The list nothe: ", nothe)
# i performs 3 functions in the code above: 
# 1) constructor, 2) iterator, 3) comparator

wordlen = [len(i) for i in nothe] 
print("The list wordlen: ", wordlen)

The list words:  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
The list nothe:  ['quick', 'brown', 'fox', 'jumps', 'over', 'lazy', 'dog']
The list wordlen:  [5, 5, 3, 5, 4, 4, 3]

In [13]:
# Find all of the numbers from 1-100 that contain a '3' digit
thou = [i for i in range(1,101) if "3" in str(i)]
print(thou)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [73]:
# Expected answer for final question above
[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [17]:
#Changing data type

# Change int to string
x = str(99)
print(x)
print(type(x))

# Change string to int
x = int("99")
print(x)
print(type(x))

# Change int to float
x = float("99")
print(x)
print(type(x))

# Change int to Boolean
x = bool(0)
print(x)
print(type(x))

99
<class 'str'>
99
<class 'int'>
99.0
<class 'float'>
False
<class 'bool'>